<div class="d-flex justify-content-center">
    <div class="p-2">
        <input type="text" class="form-control" id="code">
    </div>
    <div class="p-2">
        <button class="btn btn-success" (click)="filterRows()">Buscar</button>  
    </div>
</div>

<div class="box">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of datos">
                    <td *ngIf="this.filter && dato.codeStudent === this.codigo" scope="row">{{dato["codeStudent"]}}</td>
                    <td *ngIf="dato.codeStudent === this.codigo">{{dato["firstName"]}}</td>
                    <td *ngIf="dato.codeStudent === this.codigo">{{dato["lastName"]}}</td>
                    <td *ngIf="dato.codeStudent === this.codigo">{{dato["ts"]}}</td>
                    <td *ngIf="dato.codeStudent === this.codigo"><img id="logo" src="{{dato['path_url_img']}}">{{dato["predictRisk"]}}</td>
                    <td *ngIf="dato.codeStudent === this.codigo"><button (click)="show(dato)" type="button" data-bs-toggle="modal" data-bs-target="#predictionModal" id="view"><img id="logo"src="assets/img/view-svgrepo-com.svg"></button></td>

                    <td *ngIf="!this.filter">{{dato["codeStudent"]}}</td>
                    <td *ngIf="!this.filter">{{dato["firstName"]}}</td>
                    <td *ngIf="!this.filter">{{dato["lastName"]}}</td>
                    <td *ngIf="!this.filter">{{dato["ts"]}}</td>
                    <td *ngIf="!this.filter"><img id="logo" src="{{dato['path_url_img']}}"> {{dato["predictRisk"]}} </td>
                    <td *ngIf="!this.filter"><button (click)="show(dato)" type="button" data-bs-toggle="modal" data-bs-target="#predictionModal" id="view"><img id="logo"src="assets/img/view-svgrepo-com.svg"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-modal [detalle]="this.datarow"></app-modal>