.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box div {
    margin-top: 20px;
    width: 70%;
    height: 70%;
}

table {
    width: 100%;
}

#logo {
    width: 30px;
    height: 30px;
}

#view {
    border: 0px solid;
    background-color: transparent;
}